<app-menu></app-menu>

<table class="table table-bordered border table-sm table-striped mt-3">
  <thead class="table-dark">
  <tr>
    <th scope="col">Image</th>
    <th scope="col">Category</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let purchaseDetail of purchaseDetails">
    <td>
      <img src="{{purchaseDetail.idProducto.image}}" alt="" width="50px">
    </td>
    <td> {{purchaseDetail.idProducto.category}} </td>
    <td> {{purchaseDetail.idProducto.title}} </td>
    <td> {{purchaseDetail.idProducto.description}} </td>
    <td> {{purchaseDetail.idProducto.price}} </td>
    <td> <button (click)=" purchaseDetail.quantity > 0 ? purchaseDetail.quantity =  purchaseDetail.quantity - 1 : purchaseDetail.quantity">-</button>
      {{purchaseDetail.quantity}}
      <button (click)="purchaseDetail.quantity =  purchaseDetail.quantity + 1">+</button> </td>
    <td class="col-1">
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          ⇅ Acctions
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"
                                         type="button" data-bs-toggle="modal" data-bs-target="#newCategoria"> ✏️ Update</a></li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
