<app-menu></app-menu>

<div class="container text-aling-center col-10 mt-3">
  <div class="row mb-4">
    <div class="col-4">
      <img src="{{producto.image}}" alt="" width="300">
    </div>
    <div class="col">
      <h1> $ {{producto.price}} </h1>
      <h2> {{producto.title}} </h2>
      <h3 style="text-transform: uppercase"> {{producto.category}} </h3>
      <strong>DESCRIPTION: </strong>
      <h4> {{producto.description}} </h4>
      <label for=""> Quantity: </label>
      <input type="number" class="form-control">
      <button class="btn btn-primary m-auto mt-3" style="margin-right: 1rem !important;"> ADD PRODUCT CAR </button>
      <button class="btn btn-success m-auto mt-3" [routerLink]="['/menu/product']"> GO TO PRODUCTS </button>
    </div>
  </div>
</div>

