<app-menu></app-menu>

<div class="mt-3">

  <button class="btn btn-success" *ngIf="sesion !== null"> New product </button>

  <input class="form-control" type="search" [(ngModel)]="filterProduct" placeholder="Entered filter for title...">

  <table class="table table-bordered border table-sm table-striped mt-3">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filter:filterProduct">
      <td> {{product.id}} </td>
      <td>
        <img src="{{product.image}}" alt="" width="50px">
      </td>
      <td> {{product.category}} </td>
      <td> {{product.title}} </td>
      <td> {{product.description}} </td>
      <td> {{product.price}} </td>
      <td> {{product.ratingCount}} </td>
      <td class="col-1">
        <div class="dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
            ⇅ Acctions
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="sesion !== null"><a class="dropdown-item"
                   type="button" data-bs-toggle="modal" data-bs-target="#newCategoria"> ✏️ Update</a></li>
            <li *ngIf="sesion !== null"><a class="dropdown-item" > 🗑️ Delete</a></li>
            <li *ngIf="sesion == null"><a class="dropdown-item" (click)="viewProduct(product)"> 👀 View</a></li>
            <li *ngIf="sesion == null"><a class="dropdown-item" (click)="addCar(product)"> 🛒 Add Car</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
