<div class="container col-6 mt-4">
  <form [formGroup]="regForm" name="form">
    <div class="mb-3">
      <label for="ipt-username" class="form-label">Username</label>
      <input type="text" class="form-control" id="ipt-username" placeholder="" formControlName="username"
             maxlength="45">
    </div>
    <div class="mb-3">
      <label for="ipt-password" class="form-label">Password</label>
      <input type="password" class="form-control" id="ipt-password" placeholder="" formControlName="password"
             maxlength="45">
    </div>
  </form>

  <button class="btn btn-primary" (click)="login()"> LOGIN </button>

  <button style="margin-left: 1rem" class="btn btn-primary" [routerLink]="['/menu/product']"> PURCHASE </button>
</div>
