<div class="container">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/menu/product']">Product</a>
          </li>
        </ul>
        <button style="margin-right: 1rem !important;" class="btn btn-success" type="submit" [routerLink]="['/menu/car']" > {{quantityCar}} Shopping cart</button>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit" (click)="closeSession()">Logout</button>
        </form>
      </div>
    </div>
  </nav>

</div>
